<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Delete Product</title>
</head>
<body>
<body>
    <h1>Delete a Product Sale</h1>
    <form>
        <h1> Delete Product Sale</h1>
        <form method="post">{% csrf_token %}
            Are you sure you want to delete "{{ object }}" ?
            <input type="submit" value="Submit" />
        </form>
        </div> 
    </form>
</body>
<div>
    <a href="{% url 'index' %}"><p>Home</p></a><br/>
     <a href="{% url 'get_supply' %}"><p>Purchases</p></a><br/>
     <a href="{% url 'view_supply' %}"><p>View Purchases</p></a><br/>
         <a href="{% url 'expenses' %}"><p>Expenses</p></a><br/>
             <a href="{% url 'view_expenses' %}"><p>View_Expenses</p></a><br/>


     <a href="{% url 'create_product' %}"><p>Mix Products</p></a><br/>
     <a href="{% url 'view_product' %}"><p>View Products</p></a><br/>
     <a href="{% url 'raw_material_prices' %}"><p>Raw Material Prices</p></a><br/>
     <a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a><br/>
     <a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a><br/>
     <a href="{% url 'view_product_prices' %}"><p>View Product Prices</p><br/>
     <a href="{% url 'product_sales' %}"><p>Product Sales</p></a><br/>
     <a href="{% url 'view_product_sales' %}"><p>View Product Sales</p>
     <a href="{% url 'raw_material_sales' %}"><p>Raw Material Sales</p></a><br/>
     <a href="{% url 'view_raw_material_sales' %}"><p>View Raw Material Sales</p></a><br/>
</div>

    <center>
       <footer>
  <p>Developed by Wamani Jacob  <a href="nicobwan@gmail.com"> nicobwan@gmail.com</a> 0770594160 ,  0752055172 </p>
  <p></p>
</footer>  
    </center>
     

</html>