<html>
<head>
    <title>Viewing_Raw_Materials</title>
    <script type="text/javascript">
        function autofill(value){
            var x, y;
             x = value;
             // x = document.getElementById('id_quantity').value;
             y = document.getElementById('id_selling_price').value;
            if(x > 0 )
            {
            document.getElementById('id_total').value = x * y ;
            }
                            }
    </script>
       <style type="text/css">
        table, th, td {
  border: 1px solid black;

}
    </style>
</head>
<body>
    <h1>Product Sales</h1>
     <table style="border:1px">
                    <ul>
        <!-- maize_bran,cotton,sun_flower,fish,salt,general_purpose_premix,layers_premix ,shells 
        meat_boaster ,egg_boaster  -->
                    <tr>
                        <th>price Id</th>
                        <th>Date</th>
                        <th>Broilers_marsh</th>
                        <th>Chick_marsh</th>
                        <th>Growers_marsh</th>
                        <th>Old_pig</th>
                        <th>layers_marsh</th>
                        <th>young_pig</th>
                        <!-- <th>general_purpose_premix</th>
                        <th>Shells</th>
                        <th>Meat Boaster </th>
                        <th>Egg Boaster</th> -->
                        <!-- <th>Cost of Supply</th> -->
                       <!--  <th>Total</th>
                        <th>Cost of Supply</th>
                        <th>Pricing</th> -->   
                    </tr>
                 
                    <tr>
                        <td>{{ l_p_p.id}} </td>
                        <td>{{ l_p_p.date }} </td>
                        <td>{{ l_p_p.broilers_marsh }}</td>
                        <td>{{ l_p_p.chick_marsh }}</td>
                        <td>{{ l_p_p.growers_marsh }}</td>
                        <td>{{ l_p_p.old_pig }}</td>
                        <td>{{ l_p_p.layers_marsh }}</td>                      
                        <td>{{ l_p_p.young_pig }} </td>
                        <!-- <td>{{ l_p_p.general_purpose_premix }} </td>
                        <td>{{ l_p_p.shells }} </td>
                        <td>{{ l_l_p.meat_boaster }} </td>
                        <td>{{ l_l_p.egg_boaster }}</td>       -->
                    </tr>
                               
                </table>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{{ form.media }}
</body>

            <div>
                <a href="{% url 'index' %}"><p>Home</p></a><br/>
     <a href="{% url 'get_supply' %}"><p>Get supplies</p></a><br/>
     <a href="{% url 'view_supply' %}"><p>View supplies</p></a><br/>
         <a href="{% url 'expenses' %}"><p>Expenses</p></a><br/>
             <a href="{% url 'view_expenses' %}"><p>View_Expenses</p></a><br/>


     <a href="{% url 'create_product' %}"><p>Mix Products</p></a><br/>
     <a href="{% url 'view_product' %}"><p>View Products</p></a><br/>
     <a href="{% url 'raw_material_prices' %}"><p>Set Raw Material Prices</p></a><br/>
     <a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a><br/>
     <a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a><br/>
     <a href="{% url 'view_product_prices' %}"><p>View Product Prices</p></a><br/>
     <a href="{% url 'product_sales' %}"><p>Product Sales</p></a><br/>
          <a href="{% url 'view_product_sales' %}"><p>View Product Sales</p><br/>
        <a href="{% url 'raw_material_sales' %}"><p>Raw Material Sales</p></a><br/>
        <a href="{% url 'view_raw_material_sales' %}"><p>View Raw Material Sales</p></a><br/>

    </div>

</html>

