<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Supplies</title>
	{% load supply_extras %}
	 <script type="text/javascript">
        function autofill(value){
            var q, w, x, y, z 
             w = 1 * value ;
             x = 1 * value ;
             y = 1 * value ;
             z = 1 * value ;
             w + x + y + z  = q;

             document.getElementById('id_total').value = q ;


    </script>
</head>
<body>
<form method="POST" enctype="multipart/form-data" autocomplete="on">
    <!-- Security token  Make sure you put this immediately after the form tag-->
    {% csrf_token %}
            
    <h1>Expenses</h1>
            
    {{expense_form.as_p}}
    <br/>
    
     <!--  <script>
    document.getElementById("id_total").innerHTML = document.getElementById('id_transport').value + document.getElementById('id_onloading').value + document.getElementById('id_offloading').value + document.getElementById('id_grinding').value;
    </script>
 -->

    <input type="submit" value="Submit"> 
</form>

<div>
	<a href="{% url 'index' %}"><p>Home</p></a><br/>
	<a href="{% url 'get_supply' %}"><p>Get supplies</p></a><br/>
	<a href="{% url 'view_supply' %}"><p>View supplies</p></a><br/>
	    <a href="{% url 'expenses' %}"><p>Expenses</p></a><br/>
	        <a href="{% url 'view_expenses' %}"><p>View_Expenses</p></a><br/>


	<a href="{% url 'create_product' %}"><p>Mix Products</p></a><br/>
	<a href="{% url 'view_product' %}"><p>View Products</p></a><br/>
	<a href="{% url 'raw_material_prices' %}"><p> Set Raw Material Price</p></a><br/>
	<a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a><br/>
	<a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a><br/>
 	<a href="{% url 'view_product_prices' %}"><p>View Product Prices</p><br/>
	<a href="{% url 'product_sales' %}"><p>Product Sales</p></a><br/>
    <a href="{% url 'view_product_sales' %}"><p>View Product Sales</p></a><br/>
	<a href="{% url 'raw_material_sales' %}"><p>Raw Material Sales</p></a><br/>
	<a href="{% url 'view_raw_material_sales' %}"><p>View Raw Material Sales</p></a><br/>

</div>	
</body>

</html>