<html>
<head>
	<title>HOME</title>
</head>
<style type="text/css">
        th, td { border: 1px solid black;}
        .container{
            display: flex;
            max-height:100vh

        }
       
        .container > .navigation {
            flex: 4; /*grow*/
            
        }
        .container > .raw_material_quantities{
            flex: 4;
        }
        .container > .product_quantities{
            flex: 4;
        }
        .container > .profit_showcase{
            flex: 4;
        }
         /* Style inputs */
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
} 


</style>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<body>
    <center><h3>STS POULTRY AND ANIMAL FEEDS</h3></center>
<div class="container">
    <div class="navigation"  >
        <h3>Navigation</h3>
        <table>
            <tr style="height:10px">
                <a href="{% url 'index' %}"><p>Home</p></a>
            </tr>
            <tr>
                <a href="{% url 'get_supply' %}"><p>Purchases</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_supply' %}"><p>View Purchases</p></a>
            </tr>
            <tr>
                <a href="{% url 'expenses' %}"><p>Expenses</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_expenses' %}"><p>View_Expenses</p></a>
            </tr>
            <tr>
                <a href="{% url 'create_product' %}"><p>Mix Products</p></a>
            </tr>
                <a href="{% url 'view_product' %}"><p>View Products</p></a>
            <tr>
            </tr>
            <tr>
                <a href="{% url 'raw_material_prices' %}"><p>Raw Material Price</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a>
            </tr>
            <tr>
                 <a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_product_prices' %}"><p>View Product Prices</p>
            </tr>
            <tr>
                <a href="{% url 'product_sales' %}"><p>Product Sales</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_product_sales' %}"><p>View Product Sales</p></a>
            </tr>
            <tr>
                <a href="{% url 'raw_material_sales' %}"><p>Raw Material Sales</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_raw_material_sales' %}"><p>View Raw Material Sales</p></a>
            </tr> 
        </table>
        
    </div>	


    <div class="raw_material_quantities" >
        <h3> Raw Material Stock</h3>
        <table th = height: 5px;>
        
            
            <tr>
                <th>DATE</th>
                <td>{{ last_raw_material_qty_occurance.date }} </td>
            </tr>
            <tr>
                <th>MAIZE BRAN</th>
                <td>{{ last_raw_material_qty_occurance.maize_bran }}</td>
            </tr>
            <tr>
                <th>COTTON</th>
                <td>{{ last_raw_material_qty_occurance.cotton }}</td>
            </tr>
            <tr>
                <th>SUN FLOWER</th>
                <td>{{ last_raw_material_qty_occurance.sun_flower }}</td>
            </tr>
            <tr>
                <th>FISH</th>
                <td>{{ last_raw_material_qty_occurance.fish }}</td>
            </tr>
           
            <tr>
                <th>GENERAL PURPOSE PREMIX</th>
                <td>{{ last_raw_material_qty_occurance.general_purpose_premix }} </td>
            </tr>
            <tr>
                <th>LAYERS PREMIX</th>
                <td>{{ last_raw_material_qty_occurance.layers_premix }}</td>
            </tr>
            <tr>
                <th>SHELLS</th>
                <td>{{ last_raw_material_qty_occurance.shells }}</td>
            </tr>
            <tr>
                <th>MEAT BOASTER</th>
                <td>{{ last_raw_material_qty_occurance.meat_boaster }}</td>
            </tr>
            <tr>
            <tr>
                <th>EGG BOASTER</th>
                <td>{{ last_raw_material_qty_occurance.egg_boaster }}</td>
            </tr>
            <tr>
                <th>CALCIUM</th>
                <td>{{ last_raw_material_qty_occurance.calcium }}</td>
            </tr>
            <tr>
                <th>SOYA BEAN</th>
                <td>{{ last_raw_material_qty_occurance.soya_bean }}</td>
            </tr>
            <tr>
                <th>BROWN SALT</th>
                <td>{{ last_raw_material_qty_occurance.brown_salt }}</td>
            </tr>
            <tr>
                <th>ANIMAL SALT</th>
                <td>{{ last_raw_material_qty_occurance.animal_salt }}</td>
            </tr>
            <tr>
                <th>COMMON SALT</th>
                <td>{{ last_raw_material_qty_occurance.common_salt }}</td>
            </tr>
            <tr>
                <th>COCONUT</th>
                <td>{{ last_raw_material_qty_occurance.coconut }}</td>
            </tr>
            <tr>
                <th>PIG CONCENTRATE</th>
                <td>{{ last_raw_material_qty_occurance.pig_concentrate }}</td>
            </tr>
            <tr>
                <th>WONDER PIG</th>
                <td>{{ last_raw_material_qty_occurance.wonder_pig }}</td>
            </tr>
            <tr>
                <th>BIG PIG</th>
                <td>{{ last_raw_material_qty_occurance.big_pig }}</td>
            </tr>       
        </table>
    </div>

    <div class="product_quantities" >
        <h3> Product Stock</h3>
        <table th = height: 5px;>
                <tr>
                <th>DATE</th>
                <td>{{lastproduct.date}}</td>
                </tr>
                <tr>
                <th>BROILERS MARSH</th>
                <td>{{lastproduct.broilers_marsh}}</td>
                </tr>
                <tr>
                <th>CHICK MARSH</th>
                <td>{{lastproduct.chick_marsh }}</td>
                </tr>
                <tr>
                <th>GROWER'S MARSH</th>
                <td>{{lastproduct.growers_marsh}}</td>
                </tr>
                <tr>
                <th>OLD PIG</th>
                <td>{{lastproduct.old_pig }}</td>
                </tr>
                <tr>
                <th>LAYERS MARSH</th>
                <td>{{lastproduct.layers_marsh}}</td>
                </tr>
                <tr>
                <th>YOUNG PIG</th>
                <td>{{ lastproduct.young_pig }}</td>
                    
            </table>
        </div>


        <div class="profit_showcase">
            <h3>Net Income Statement</h3>
            <form action="{% url 'index' %}" method="get">
                <!-- <label>Childid</label>
                <input name="child" type="text" required placeholder="Childid..."><br/><br/> -->
                <label>From</label>
                <input name="start_date" type="date" ><br/><br/>
                <labe>To</label>
                <input name="end_date" type="date" ><br/><br/>
                <input type="submit" name="submit" value="COMPILE"/>                
            </form>
            <br/>
            <!-- <strong>{{ profit }}</strong><label> UGX</label> -->
            <h4>REVENUE</h4>
            <label>Product Sales</label> <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <strong>{{ product_sales }}</strong>
            <br/>
            <label>Raw Material Sales </label> <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <strong>{{ raw_material_sales }}</strong>
            <h4>EXPENSES</h4>
            <label>Expenses</label> <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <strong>{{ sum_of_expenses }}</strong>
            <h4>NET PROFIT(revenue-expenses)</h4>
            
            <label>NET PROFIT</label>
            <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <strong>{{ net_income }}</strong>
        </div>
</div>


   
</body>

<center>

     <footer>
  <p>Developed by Wamani Jacob  Email:nicobwan@gmail.com 0770594160 ,  0752055172 </p>
  <p></p>
</footer> 

</center>


</html>