<html>
<head>
	<title>HOME</title>
            {% load static %}  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{% static 'js/classie.js' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {{ form.media }}
</head>
<style type="text/css">
        th, td { border: 1px solid black;}
        .container{
            display: flex;
            max-height:100vh

        }
       
        .container > .navigation {
            flex: 4; /*grow*/
            
        }
        .container > .raw_material_quantities{
            flex: 4;
        }
        .container > .product_quantities{
            flex: 4;
        }
        .container > .profit_showcase{
            flex: 4;
        }
         /* Style inputs */
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
} 


</style>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<body>
    <center><h3>STS POULTRY AND ANIMAL FEEDS</h3></center>
<div class="container">
    <div class="navigation"  >
        <h3>Navigation</h3>
        <table>
            <tr style="height:10px">
                <a href="{% url 'index' %}"><p>Home</p></a>
            </tr>
            <tr>
                <a href="{% url 'get_supply' %}"><p>Purchases</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_supply' %}"><p>View Purchases</p></a>
            </tr>
            <tr>
                <a href="{% url 'expenses' %}"><p>Expenses</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_expenses' %}"><p>View_Expenses</p></a>
            </tr>
            <tr>
                <a href="{% url 'create_product' %}"><p>Mix Products</p></a>
            </tr>
                <a href="{% url 'view_product' %}"><p>View Products</p></a>
            <tr>
            </tr>
            <!-- <tr>
                <a href="{% url 'raw_material_prices' %}"><p>Raw Material Price</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a>
            </tr>
            <tr>
                 <a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_product_prices' %}"><p>View Product Prices</p> -->
            </tr>
            <tr>
                <a href="{% url 'product_sales' %}"><p>Product Sales</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_product_sales' %}"><p>View Product Sales</p></a>
            </tr>
            <tr>
                <a href="{% url 'raw_material_sales' %}"><p>Raw Material Sales</p></a>
            </tr>
            <tr>
                <a href="{% url 'view_raw_material_sales' %}"><p>View Raw Material Sales</p></a>
            </tr> 
        </table>
        
    </div>	


    <div class="raw_material_quantities" >
        <h3> Raw Material Stock</h3>
        <form action="{% url 'index' %}" method="get">
                
                <label>Date</label>
                <input name="start_date" type="date" ><br/><br/> 
                <input type="submit" name="submit" value="COMPILE"/>    
               
                <table>
                    
                    <tr>
                        <th>Maize Bran</th>
                        <td>{{ raw_material_stock.maize_bran }}</td>
                    </tr>
                    <tr>
                        <th>Cotton</th>
                        <td>{{ raw_material_stock.cotton }}</td>
                    </tr>
                    <tr>
                        <th>Sun Flower</th>
                        <td>{{ raw_material_stock.sun_flower }}</td>
                    </tr>
                    <tr>
                        <th>Layers' Premix</th>
                        <td>{{ raw_material_stock.layers_premix }}</td>
                    </tr>
                    <tr>
                        <th>General Purpose Premix</th>
                        <td>{{ raw_material_stock.general_purpose_premix }}</td>
                    </tr>
                    <tr>
                        <th>Shells</th>
                        <td>{{ raw_material_stock.shells }}</td>
                    </tr>
                    <tr>
                        <th>Meat Boaster</th>
                        <td>{{ raw_material_stock.meat_boaster }}</td>
                    </tr>
                    <tr>
                        <th>Egg Boaster</th>
                        <td>{{ raw_material_stock.egg_boaster }}</td>
                    </tr>
                    <tr>
                        <th>Fish</th>
                        <td>{{ raw_material_stock.fish }}</td>
                    </tr>
                    <tr>
                        <th>Calcium</th>
                        <td>{{ raw_material_stock.calcium }}</td>
                    </tr>
                    <tr>
                        <th>Soya Bean</th>
                        <td>{{ raw_material_stock.soya_bean }}</td>
                    </tr>
                    <tr>
                        <th>Animal Salt</th>
                        <td>{{ raw_material_stock.animal_salt }}</td>
                    </tr>
                    <tr>
                        <th>Common Salt</th>
                        <td>{{ raw_material_stock.common_salt }}</td>
                    </tr>
                    <tr>
                        <th>Brown Salt</th>
                        <td>{{ raw_material_stock.brown_salt }}</td>
                    </tr>
                    <tr>
                        <th>Coconut</th>
                        <td>{{ raw_material_stock.coconut }}</td>
                    </tr>
                    <tr>
                        <th>Pig concentrate</th>
                        <td>{{ raw_material_stock.pig_concentrate }}</td>
                    </tr>
                    <tr>
                        <th>Wonder pig</th>
                        <td>{{ raw_material_stock.wonder_pig }}</td>
                    </tr>
                    <tr>
                        <th>Big pig</th>
                        <td>{{ raw_material_stock.big_pig }}</td>
                    </tr>



                </table>            
            </form>
       
    </div>

    <div class="profit_showcase">
            <h3>Raw Material Profits</h3>
            <form action="{% url 'index' %}" method="get">
                <!-- <label>Childid</label>
                <input name="child" type="text" required placeholder="Childid..."><br/><br/> -->
                <label>Date</label>
                <input name="select_date" type="date" ><br/><br/>
                
                <input type="submit" name="submit" value="COMPILE"/>   
                <table style="border:1px">
                    <tr>
                        <th>Maize bran</th>

                        <th>{{ profit_dictionary.maize_bran }} </th>
                    </tr>

                    <tr>
                        <th>Cotton</th>

                        <th>{{ profit_dictionary.cotton }} </th>
                    </tr>

                    <tr>
                        <th>Sun Flower</th>

                        <th>{{ profit_dictionary.sun_flower }} </th>
                    </tr>

                    <tr>
                        <th>Fish</th>

                        <th>{{ profit_dictionary.fish }} </th>
                    </tr>

                    <tr>
                        <th>General Purpose Premix</th>

                        <th>{{ profit_dictionary.general_purpose_premix }} </th>
                    </tr>
                    
                    <tr>
                        <th>Shells</th>

                        <th>{{ profit_dictionary.shells }} </th>
                    </tr>

                    <tr>
                        <th>Meat Boaster</th>

                        <th>{{ profit_dictionary.meat_boaster }} </th>
                    </tr>
                   
                    <tr>
                        <th>Egg Boaster</th>

                        <th>{{ profit_dictionary.egg_boaster }} </th>
                    </tr>

                    <tr>
                        <th>Calcium</th>

                        <th>{{ profit_dictionary.calcium }} </th>
                    </tr>

                    <tr>
                        <th>Soya Bean</th>

                        <th>{{ profit_dictionary.soya_bean }} </th>
                    </tr>

                    <tr>
                        <th>Brown Salt</th>

                        <th>{{ profit_dictionary.brown_salt }} </th>
                    </tr>

                    <tr>
                        <th>Common Salt</th>

                        <th>{{ profit_dictionary.common_salt }} </th>
                    </tr>

                    <tr>
                        <th>Animal Salt</th>

                        <th>{{ profit_dictionary.animal_salt }} </th>
                    </tr>

                    <tr>
                        <th>Layers Premix</th>

                        <th>{{ profit_dictionary.layers_premix }} </th>
                    </tr>

                    <tr>
                        <th>Pig concentrate</th>

                        <th>{{ profit_dictionary.pig_concentrate }} </th>
                    </tr>
                    <tr>
                        <th>Coconut</th>

                        <th>{{ profit_dictionary.coconut }} </th>
                    </tr>
                    <tr>
                        <th>Wonder pig</th>

                        <th>{{ profit_dictionary.wonder_pig }} </th>
                    </tr>
                    <tr>
                        <th>Big Pig</th>

                        <th>{{ profit_dictionary.big_pig }} </th>
                    </tr>
                </table>             
            </form>
        </div>

<div>
    <form action="{% url 'index' %}" method="get">
            <h3> Product Stock</h3>
            <div class="product_quantities" >
                        <label>Date</label>
                                <input name="choosen_date" type="date" ><br/><br/> 
                                <input type="submit" name="submit" value="COMPILE"/> 
                        
                            <table th = height: 5px;>
                                    <tr>
                                    <th>DATE</th>
                                    <td>{{ product_stock.date}}</td>
                                    </tr>
                                    <tr>
                                    <th>BROILERS MARSH</th>
                                    <td>{{ product_stock.broilers_marsh}}</td>
                                    </tr>
                                    <tr>
                                    <th>CHICK MARSH</th>
                                    <td>{{ product_stock.chick_marsh }}</td>
                                    </tr>
                                    <tr>
                                    <th>GROWER'S MARSH</th>
                                    <td>{{ product_stock.growers_marsh}}</td>
                                    </tr>
                                    
                                    <tr>
                                    <th>LAYERS MARSH</th>
                                    <td>{{ product_stock.layers_marsh}}</td>
                                    </tr>
                                    <tr>
                                    <th>PIG MARSH</th>
                                    <td>{{ product_stock.pig_marsh }}</td>             
                            </table>
            </div>
    </form>
</div>

<div>
    <form action="{% url 'index' %}" method="get">
            <h3> Product Profits</h3>
            <div class="product_quantities" >
                        <label>Date</label>
                                <input name="pick_date" type="date" ><br/><br/> 
                                <input type="submit" name="submit" value="COMPILE"/> 
                        
                            <table th = height: 5px;>
                                    <tr>
                                    <th>DATE</th>
                                    <td>{{ product_stock.date}}</td>
                                    </tr>
                                    <tr>
                                    <th>BROILERS MARSH</th>
                                    <td>{{ product_stock.broilers_marsh}}</td>
                                    </tr>
                                    <tr>
                                    <th>CHICK MARSH</th>
                                    <td>{{ product_stock.chick_marsh }}</td>
                                    </tr>
                                    <tr>
                                    <th>GROWER'S MARSH</th>
                                    <td>{{ product_stock.growers_marsh}}</td>
                                    </tr>
                                    
                                    <tr>
                                    <th>LAYERS MARSH</th>
                                    <td>{{ product_stock.layers_marsh}}</td>
                                    </tr>
                                    <tr>
                                    <th>PIG MARSH</th>
                                    <td>{{ product_stock.pig_marsh }}</td>             
                            </table>
            </div>
    </form>
</div>
    
</div>


   {{ form.media }}
</body>

<center>

     <footer>
  <p>Developed by Wamani Jacob  Email:nicobwan@gmail.com 0770594160 ,  0752055172 </p>
  <p></p>
</footer> 

</center>


</html>