<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		Salary Payment
	</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
	<!-- Security token  Make sure you put this immediately after the form tag-->
	{% csrf_token %}
	
			
			<h1>Salary Payment</h1>
			
     <!-- Using the formset -->
    {{ form.as_p }}
	
	<input type="submit" value="Submit"> 
</form>
</body>
<div>
		<a href="{% url 'index' %}"><p>Home</p></a><br/>

    	<a href="{% url 'view_salaries' %}"><p>View Salaries</p></a><br/>
</div>

	<center>
		 <footer>
  <p>Developed by Wamani Jacob  Email:nicobwan@gmail.com 0770594160 ,  0752055172 </p>
  <p></p>
</footer> 

	</center>
    

</html>