<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Supplies</title>
	{% load supply_extras %}
</head>
<body>
<form method="POST" enctype="multipart/form-data">
	<!-- Security token  Make sure you put this immediately after the form tag-->
	{% csrf_token %}
	<p>Supply</p>
			
     <!-- Using the formset -->
    {{ form.as_p }}

	
	<input type="submit" value="Submit"> 

</form>

<div>
	<a href="{% url 'get_supply' %}"><p>Get supplies</p></a><br/>
	<a href="{% url 'view_supply' %}"><p>View supplies</p></a><br/>
	<a href="{% url 'create_product' %}"><p>Mix Products</p></a><br/>
	<a href="{% url 'view_product' %}"><p>View Products</p></a><br/>
	<a href="{% url 'raw_material_prices' %}"><p> Set Raw Material Price</p></a><br/>
	<a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a><br/>
	<a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a><br/>
	     <a href="{% url 'view_product_prices' %}"><p>View Product Prices</p>


	





</div>	
</body>

</html>