<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		Update Raw Material Sales
	</title>
</head>
<body>
<body>
	<h1>Update the Raw Sales Prices</h1>
 <form method="POST"> 
                <!-- Security token by Django -->
                {% csrf_token %} 
        
                <!-- form as paragraph -->
                {{ form.as_p }} 
        
                <input type="submit" value="Update"> 
            </form> 

</body>
</body>


<center>

     <footer>
  <p>Developed by Wamani Jacob  Email:nicobwan@gmail.com 0770594160 ,  0752055172 </p>
  <p></p>
</footer> 

</center>
</html>