<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		View Raw Material Prices
	</title>
	<style type="text/css">
        table, th, td {
  border: 1px solid black;

}
    </style>
</head>
<body>
<h1>View Raw Material Prices</h1>
    <form action="{% url 'view_raw_material_prices' %}" method="get">
                <!-- <label>Childid</label>
                <input name="child" type="text" required placeholder="Childid..."><br/><br/> -->
                <label>From</label>
                <input name="start_date" type="date" ><br/><br/>
                <labe>To</labe>
                <input name="end_date" type="date" ><br/><br/>
                <input type="submit" name="submit" value="Search"/>                
    </form>

     <table style="border:1px">
                    <ul>
        <!-- maize_bran,cotton,sun_flower,fish,salt,general_purpose_premix,layers_premix ,shells 
        meat_boaster ,egg_boaster  -->
                    <tr>
                        <th>price Id</th>
                        <th>Date</th>
                        <th>Maize_bran</th>
                        <th>Cotton</th>
                        <th>Sun_Flower</th>
                        <th>Fish</th>
                        <th>Salt</th>
                        <th>General Purpose_Premix</th>
                        <th>Layers_Premix</th>
                        <th>Shells</th>
                        <th>Meat Boaster</th>
                        <th>Egg Boaster</th>
                        <!-- <th>Cost of Supply</th> -->
                       <!--  <th>Total</th>
                        <th>Cost of Supply</th>
                        <th>Pricing</th> -->
                        <th>Calcium</th>
						<th>Soya Bean</th>
						<th>Brown Salt</th>
						<th>Animal Salt</th>
						<th>Common Salt</th>
						<th>Coconut</th>
						<th>Pig concentrate</th>
						<th>wonder pig</th>
                        

                        <th>Update</th>
                        <th>Delete</th>
                       
                    </tr>
                    {% for price in p_prices %}
                    <tr>
                        <td>{{ price.id}} </td>
                        <td>{{ price.date }} </td>
                        <td>{{ price.maize_bran }}</td>
                        <td>{{ price.cotton }}</td>
                        <td>{{ price.sun_flower }}</td>
                        <td>{{ price.fish }}</td>
                        <td>{{ price.salt }}</td>                      
                        <td>{{ price.general_purpose_premix }} </td>
                        <td>{{ price.layers_premix }} </td>
                        <td>{{ price.shells }} </td>
                        <td>{{ price.meat_boaster }} </td>
                        <td>{{ price.egg_boaster }}</td>
                        <!-- <td>{{ price.cost_of_supply}}</td> -->
                        <!--I dnot know why i had to back reference it , it just couldn't work with it -->
                        <td>{{ price.calcium}}</td>
						<td>{{ price.soya_bean }}</td>
						<td>{{ price.brown_salt }}</td>
						<td>{{ price.animal_salt }}</td>
						<td>{{ price.common_salt }}</td>
						<td>{{ price.coconut }}</td>
						<td>{{ price.pig_concentrate }}</td>
						<td>{{ price.wonder_pig }}</td>
                       
                        <td><a href="../update_raw_material_prices/?id={{ price.id }}">Update</a></td>
                        <td><a href="../delete_raw_material_prices/?id={{ price.id }}">Delete</a></td>
                    </tr>
                    {% endfor %}
                
                </table>
</body>
<div>
    <a href="{% url 'index' %}"><p>Home</p></a><br/>
     <a href="{% url 'get_supply' %}"><p>Get supplies</p></a><br/>
     <a href="{% url 'view_supply' %}"><p>View supplies</p></a><br/>
         <a href="{% url 'expenses' %}"><p>Expenses</p></a><br/>
             <a href="{% url 'view_expenses' %}"><p>View_Expenses</p></a><br/>


     <a href="{% url 'create_product' %}"><p>Mix Products</p></a><br/>
     <a href="{% url 'view_product' %}"><p>View Products</p></a><br/>
     <a href="{% url 'raw_material_prices' %}"><p>Set Raw Material Prices</p></a><br/>
     <a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a><br/>
     <a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a><br/>
    <a href="{% url 'view_product_prices' %}"><p>View Product Prices</p><br/>
    <a href="{% url 'product_sales' %}"><p>Product Sales</p></a><br/>
    <a href="{% url 'view_product_sales' %}"><p>View Product Sales</p><br/>
    <a href="{% url 'raw_material_sales' %}"><p>Raw Material Sales</p></a><br/>
    <a href="{% url 'view_raw_material_sales' %}"><p>View RawMaterial Sales</p></a><br/>





    </div>
    
</html>