<html>
<head>
	<meta charset="utf-8">
	<title> View Supplies </title>
	{% load supply_extras %}
    <style type="text/css">
        table, th, td {
  border: 1px solid black;

}
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
    </style>
</head>
<body>
    <h1>View Purchases</h1>
  <form action="{% url 'view_supply' %}" method="get">
                <!-- <label>Childid</label>
                <input name="child" type="text" required placeholder="Childid..."><br/><br/> -->
                <label>From</label>
                <input name="start_date" type="date" ><br/><br/>
                <labe>To</labe>
                <input name="end_date" type="date" ><br/><br/>
                 <label for="raw_material">Raw Material</label>

                <select name="raw_material_option" id="raw_material_opt">
                  <option value="maize_bran">Maize Bran</option>
                  <option value="cotton">Cotton</option>
                  <option value="sun_flower">Sun Flower</option>
                  <option value="fish">Fish</option>
                  <option value="common_salt">Common Salt</option>
                  <option value="general_purpose_premix">General Purpose Premix</option>
                  <option value="layers_premix">Layer's Premix</option>
                  <option value="shells">Shells</option>
                  <option value="meat_boaster">Meat Boaster</option>
                  <option value="egg_boaster">Egg Boaster</option>
                  <option value="calcium">Calcium</option>
                  <option value="soya_bean">Soya Bean</option>
                  <option value="brown_salt">Brown Salt</option>
                  <option value="animal_salt">Animal Salt</option>
                  <option value="pig_concentrate">Pig Concentrate</option>
                  <option value="coconut">Coconut</option>
                  <option value="wonder_pig">Wonder pig</option>
                  <option value="big_pig">Big Pig</option>
                </select> 

                <input type="submit" name="submit" value="Search"/>                
    </form>

     <table style="border:1px">
                    <ul>
                    
                    <tr>
                        <th>Supply Id</th>
                        <th>Date</th>
                        <th>Receipt Number</th>
                        <th>Supplier</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit_Price</th>
                        <th>Amount</th>
                        <!-- <th>Transport</th>
                        <th>Onloading</th>
                        <th>Offloading</th>
                        <th>Grinding</th>
                        <th>Cost of Supply</th>
                        <th>Pricing</th> -->
                        <th>Update</th>
                        <th>Delete</th>


                       
                    </tr>
                    {% for supply in supplies %}
                    <tr>
                        <td>{{ supply.id}} </td>
                        <td>{{ supply.date}} </td>
                        <td>{{ supply.receipt_number }}</td>
                        <td>{{ supply.supplier }}</td>
                        <td>{{ supply.item }}</td>
                        <td>{{ supply.quantity }}</td>
                        <td>{{ supply.unit_price }}</td>
                        
                        <td>{{ amount|work_on_amount:supply }} </td>
                        
                        <td><a href="update_supply/?id={{ supply.id }}">Update</a></td>
                        <td><a href="delete_supply/?id={{ supply.id }}">Delete</a></td>
                        <!-- <td><a href="update_supply/?id={{ supply.id }}">Update</a></td> -->

                    </tr>
                    <p> Total Sales {{ sales_money }} ugx </p>
                    {% endfor %}
                
                </table>
</body>
 	
    <div>
     <a href="{% url 'index' %}"><p>Home</p></a><br/>

     <a href="{% url 'get_supply' %}"><p>Get Purchases</p></a><br/>
     <a href="{% url 'view_supply' %}"><p>View Purchases</p></a><br/>
     <a href="{% url 'expenses' %}"><p>Expenses</p></a><br/>
    <a href="{% url 'view_expenses' %}"><p>View_Expenses</p></a><br/>


     <a href="{% url 'create_product' %}"><p>Mix Products</p></a><br/>
     <a href="{% url 'view_product' %}"><p>View Products</p></a><br/>
    <!--  <a href="{% url 'raw_material_prices' %}"><p>Set Raw Material Prices</p></a><br/>
     <a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a><br/>
     <a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a><br/>
     <a href="{% url 'view_product_prices' %}"><p>View Product Prices</p><br/> -->
     <a href="{% url 'product_sales' %}"><p>Product Sales</p></a><br/>
     <a href="{% url 'view_product_sales' %}"><p>View Product Sales</p><br/>
     <a href="{% url 'raw_material_sales' %}"><p>Raw Material Sales</p></a><br/>
     <a href="{% url 'view_raw_material_sales' %}"><p>View Raw Material Sales</p></a><br/>


    </div>
    
<center>

     <footer>
  <p>Developed by Wamani Jacob  Email:nicobwan@gmail.com 0770594160 ,  0752055172 </p>
  <p></p>
</footer> 

</center>
</html>