<html>
<head>
	<meta charset="utf-8">
	<title> View Supplies </title>
	{% load supply_extras %}
</head>
<body>
  <form action="{% url 'view_supply' %}" method="get">
                <!-- <label>Childid</label>
                <input name="child" type="text" required placeholder="Childid..."><br/><br/> -->
                <label>From</label>
                <input name="start_date" type="date" ><br/><br/>
                <labe>To</labe>
                <input name="end_date" type="date" ><br/><br/>
                <input type="submit" name="submit" value="Search"/>                
    </form>

     <table style="border:1px">
                    <ul>
                    
                    <tr>
                        <th>Supply Id</th>
                        <th>Date</th>
                        <th>Receipt Number</th>
                        <th>Supplier</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit_Price</th>
                        <th>Amount</th>
                        <th>Transport</th>
                        <th>Onloading</th>
                        <th>Offloading</th>
                        <th>Grinding</th>
                        <th>Cost of Supply</th>
                        <th>Pricing</th>
                        <th>Update</th>
                        <th>Delete</th>


                       
                    </tr>
                    {% for supply in supplies %}
                    <tr>
                        <td>{{ supply.id}} </td>
                        <td>{{ supply.date}} </td>
                        <td>{{ supply.receipt_number }}</td>
                        <td>{{ supply.supplier }}</td>
                        <td>{{ supply.item }}</td>
                        <td>{{ supply.quantity }}</td>
                        <td>{{ supply.unit_price }}</td>
                        
                        <td>{{ amount|work_on_amount:supply }} </td>
                        
                        <td>{{ supply.transport}} </td>
                        <td>{{ supply.onloading}} </td>
                        <td>{{ supply.offloading }} </td>
                        <td>{{ supply.grinding }} </td>
                        <td>{{ cost_of_supply|work_on_the_full_amount:supply }} </td>
                        <td>{{ supply.pricing }} </td>
                        <td><a href="update_supply/?id={{ supply.id }}">Update</a></td>
                        <td><a href="delete_supply/?id={{ supply.id }}">Delete</a></td>
                        <!-- <td><a href="update_supply/?id={{ supply.id }}">Update</a></td> -->

                    </tr>
                    {% endfor %}
                
                </table>
</body>
 	
    <a href="{% url 'get_supply' %}"><p>Get supplies</p></a><br/>
     <a href="{% url 'view_supply' %}"><p>View supplies</p></a><br/>

</html>