<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		Viewing product prices
	</title>
	<style type="text/css">
        table, th, td {
  border: 1px solid black;

}
    </style>
</head>
<body>
<h1>View the product prices</h1>
    <form action="{% url 'view_product_prices' %}" method="get">
                <!-- <label>Childid</label>
                <input name="child" type="text" required placeholder="Childid..."><br/><br/> -->
                <label>From</label>
                <input name="start_date" type="date" ><br/><br/>
                <labe>To</labe>
                <input name="end_date" type="date" ><br/><br/>
                <input type="submit" name="submit" value="Search"/>                
    </form>

     <table style="border:1px">
                    <ul>
        <!-- maize_bran,cotton,sun_flower,fish,salt,general_purpose_premix,layers_premix ,shells 
        meat_boaster ,egg_boaster  -->
            <!-- broilers_marsh,chick_marsh,old_pig,growers_marsh,layers_marsh ,young_pig -->

                    <tr>
                        <th>Product Id</th>
                        <th>Date</th>
                        <th>broilers_marsh</th>
                        <th>chick_marsh</th>
                        <th>old_pig</th>
                        <th>growers_marsh</th>
                        <th>layers_marsh</th>
                        <th>young_pig</th>
                        <!-- <th>Cost of Supply</th> -->
                       <!--  <th>Total</th>
                        <th>Cost of Supply</th>
                        <th>Pricing</th> -->
                        <th>Update</th>
                        <th>Delete</th>
                       
                    </tr>
                    {% for price in p_prices %}
                    <tr>
                        <td>{{ price.id}} </td>
                        <td>{{ price.date }} </td>
                        <td>{{ price.broilers_marsh }}</td>
                        <td>{{ price.chick_marsh }}</td>
                        <td>{{ price.old_pig }}</td>
                        <td>{{ price.growers_marsh }}</td>
                        <td>{{ price.layers_marsh }}</td>                      
                        <td>{{ price.young_pig }} </td>
                        <!-- <td>{{ product.layers_premix }} </td>
                        <td>{{ product.shells }} </td>
                        <td>{{ product.meat_boaster }} </td>
                        <td>{{ product.egg_boaster }}</td> -->
                        <!-- <td>{{ product.cost_of_supply}}</td> -->
                        <!--I dnot know why i had to back reference it , it just couldn't work with it -->
                        <td><a href="../update_product_prices/?id={{ price.id }}">Update</a></td>
                        <td><a href="../delete_product_prices/?id={{ price.id }}">Delete</a></td>

                    </tr>
                    {% endfor %}
                
                </table>
       

</body>
<div>
    <a href="{% url 'index' %}"><p>Home</p></a><br/>
     <a href="{% url 'get_supply' %}"><p>Purchases</p></a><br/>
     <a href="{% url 'view_supply' %}"><p>View Purchases</p></a><br/>
         <a href="{% url 'expenses' %}"><p>Expenses</p></a><br/>
             <a href="{% url 'view_expenses' %}"><p>View_Expenses</p></a><br/>


     <a href="{% url 'create_product' %}"><p>Mix Products</p></a><br/>
     <a href="{% url 'view_product' %}"><p>View Products</p></a><br/>
     <a href="{% url 'raw_material_prices' %}"><p>Set Raw Material Prices</p></a><br/>
     <a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a><br/>
     <a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a><br/>
     <a href="{% url 'view_product_prices' %}"><p>View Product Prices</p><br/>
     <a href="{% url 'product_sales' %}"><p>Product Sales</p></a><br/>
     <a href="{% url 'view_product_sales' %}"><p>View Product Sales</p>
    <a href="{% url 'raw_material_sales' %}"><p>Raw Material Sales</p></a><br/>
    <a href="{% url 'view_raw_material_sales' %}"><p>View Raw Material Sales</p></a><br/>
</div>

<center>

     <footer>
  <p>Developed by Wamani Jacob  Email:nicobwan@gmail.com 0770594160 ,  0752055172 </p>
  <p></p>
</footer> 

</center>
</html>