<html>
<head>
	<meta charset="utf-8">
	<title> View Expenses </title>
	{% load supply_extras %}
    <style type="text/css">
        table, th, td {
  border: 1px solid black;

}
    </style>
</head>
<body>
    <h1>View Expenses</h1>
  <form action="{% url 'view_expenses' %}" method="get">
                <!-- <label>Childid</label>
                <input name="child" type="text" required placeholder="Childid..."><br/><br/> -->
                <label>From</label>
                <input name="start_date" type="date" ><br/><br/>
                <labe>To</labe>
                <input name="end_date" type="date" ><br/><br/>
                <input type="submit" name="submit" value="Search"/>                
    </form>

     <table style="border:1px">
                    <ul>
                    
                    <tr>
                        <th>Supply Id</th>
                        <th>Date</th>
                        <th>Transport</th>
                        <th>Grinding</th>
                        <th>Total</th>
                        
                        <th>Update</th>
                        <th>Delete</th>


                       
                    </tr>
                    {% for expense in daily_expenses %}
                    <tr>
                        <td>{{ expense.id}} </td>
                        <td>{{ expense.date}} </td>
                        <td>{{ expense.transport }}</td>
                        <td>{{ expense.grinding}}</td>

                        <td>{{ expense.total }}</td>
                        
                        <td><a href="../update_expenses/?id={{ expense.id }}">Update</a></td>
                        <td><a href="../delete_expenses/?id={{ expense.id }}">Delete</a></td>
                        <!-- <td><a href="update_supply/?id={{ supply.id }}">Update</a></td> -->

                    </tr>
                    {% endfor %}
                
                </table>
</body>
 	
    <div>
     <a href="{% url 'index' %}"><p>Home</p></a><br/>

     <a href="{% url 'get_supply' %}"><p>Get supplies</p></a><br/>
     <a href="{% url 'view_supply' %}"><p>View supplies</p></a><br/>
         <a href="{% url 'expenses' %}"><p>Expenses</p></a><br/>
             <a href="{% url 'view_expenses' %}"><p>View_Expenses</p></a><br/>


     <a href="{% url 'create_product' %}"><p>Mix Products</p></a><br/>
     <a href="{% url 'view_product' %}"><p>View Products</p></a><br/>
     <a href="{% url 'raw_material_prices' %}"><p>Set Raw Material Prices</p></a><br/>
     <a href="{% url 'view_raw_material_prices' %}"><p>View Raw Material Prices</p></a><br/>
     <a href="{% url 'create_product_prices' %}"><p>Set  Product Prices</p></a><br/>
     <a href="{% url 'view_product_prices' %}"><p>View Product Prices</p><br/>
     <a href="{% url 'product_sales' %}"><p>Product Sales</p></a><br/>
     <a href="{% url 'view_product_sales' %}"><p>View Product Sales</p><br/>
     <a href="{% url 'raw_material_sales' %}"><p>Raw Material Sales</p></a><br/>
     <a href="{% url 'view_raw_material_sales' %}"><p>View Raw Material Sales</p></a><br/>


    </div>
    
</html>